@import '../assets/global.css';

/**
 * Shadow DOM CSS Reset
 *
 * We use `all: initial` on the :host to prevent any inheritable styles from the host page
 * from leaking into the shadow DOM. This creates a strong encapsulation boundary.
 */
:host {
  all: initial;
  font-family: var(--font-sans);
  /* hem = Host rem */
  --hem: 16px;
}

@theme {
  --spacing: calc(0.25 * var(--hem));

  /* Font size */
  --text-xs: calc(0.75 * var(--hem));
  --text-sm: calc(0.875 * var(--hem));
  --text-base: calc(1 * var(--hem));
  --text-lg: calc(1.125 * var(--hem));
  --text-xl: calc(1.25 * var(--hem));
  --text-2xl: calc(1.5 * var(--hem));
}

.ai-loading {
  border: 2px solid transparent;
  background: linear-gradient(var(--muted) 0 0) padding-box,
    conic-gradient(from var(--angle), red, yellow, green) border-box;
  animation: rotate 2s linear infinite;
  animation-play-state: running;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

#yama-popover {
  opacity: 0;
  transition:
    opacity 300ms,
    display 300ms allow-discrete,
    overlay 300ms allow-discrete;
  will-change: opacity, transform, display, overlay;

  &[data-popover-open="true"] {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}